/Birthday/node_modules
/Birthday/package-lock.json



/calculator/node_modules
/calculator/package-lock.json


/Corona_Count/node_modules
/Corona_Count/package-lock.json


/crud-app/node_modules
/crud-app/package-lock.json


/crudReact/node_modules
/crudReact/package-lock.json


/instagram-clone/node_modules
/instagram-clone/package-lock.json


/self_react-project/node_modules
/self_react-project/package-lock.json


/To_do_React/node_modules
/To_do_React/package-lock.json


/Tour/node_modules
/Tour/package-lock.json